
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
--moderate-cyan: hsl(176, 50%, 47%);
--dark-cyan: hsl(176, 72%, 28%);
--black: hsl(0, 0%, 0%);
--dark-gray: hsl(0, 0%, 48%);
--white: rgb(255, 255, 255);
--gray: rgb(250, 250, 250);
--light-gray: rgb(232, 232, 232);
--body-font: "Commissioner", sans-serif;
--svg-gray: rgba(112, 112, 112, 255);
}

/* structure */

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    min-height: 100%;
}

header {
    background-image: url(./images/image-hero-desktop.jpg);
    min-height: 55vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
}

main {
    background-color: var(--gray);
    min-height: 100vh;
    background-color: white !important;
}

.menu-mobile {
    background-color: white;
    width: 90%;
    margin: 3em auto;
    color: black;
    list-style: none;
    border-radius: 10px;
    top: 9%;
    position: absolute;
    left: 5%;
    z-index: 2;
}

.menu-mobile nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.menu-mobile nav li {
    border-bottom: 1px solid rgb(198, 198, 198);
    width: 100%;
    margin-left: 0;
}

.menu-mobile nav li a {
    margin: 1em;
    display: block;
}

/* header */

.header-items {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    height: 100px;
}

.header-items nav {
    display: flex;
    list-style: none;
    gap: 2em;
    text-decoration: none;
    color: var(--white)
}



/* blocks structure */

.blocks-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.blocks-margin {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.blocks {
    background-color: white;
    padding: 2em;
    position: relative;
    border-radius: 0.8em;
    border: 1px solid var(--gray);
}

.block-1 {
    margin-top: -14.5%;
}

/* blocks inner content */

.logo-mastercraft {
    position: absolute;
    left: 50%;
    top: -27px;
    transform: translateX(-50%);
}

.block-1 p, .block-1 h1 {
    text-align: center;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin: 2em 3em;
}

.backing-btn {
    padding: 15px 45px;
    background-color: var(--moderate-cyan);
    color: var(--white);
    border: none;
    border-radius: 1.8em;
    cursor: pointer;
}

.bookmark-gp {
    position: relative;
}

.bookmark-gp:hover {
    opacity: 0.5;
}


.bookmark-btn {
    background-color: var(--light-gray);
    border: none;
    padding: 15px 45px;
    border-radius: 1.8em;
    text-align: right;
    width: 160px;
    cursor: pointer;
}

.bookmark-img {
    position: absolute;
    left: 0;
    height: 45px;
    cursor: pointer;
}

.bookmark.bookmarked button {
    color: var(--dark-cyan);
  }
  .bookmark.bookmarked svg circle {
    fill: var(--dark-cyan);
  }
  .bookmark.bookmarked svg path {
    fill: var(--white);
  }

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.stat {
    color: var(--dark-gray);
    margin-left: auto;
    margin-right: auto;
}

.block-2 span {
    font-size: 1.8em;
    color: var(--black);
}

.stat::after {
    content: "";
    position: absolute;
    left: calc(100% + 1.25rem);
    bottom: 0;
    height: 100%;
    border-right: 5px solid var(red);
}

.backing-bar {
    width: 100%;
    margin: 2em 0;
    outline: none;
    -webkit-appearance: none;
    background: linear-gradient( to right, var(--moderate-cyan) 0, var(--moderate-cyan) 80%, var(--light-gray) 80%, var(--light-gray) 100% );
    border-radius: 10px;
    padding: 0;
    height: 0.75em;
    pointer-events: none;
}

.block-3 p {
    color: var(--dark-gray);
}

/* /* miniblocks  */

.miniblocks {
    display: flex;
    flex-direction: column;
    gap: 1.3em;
}

.miniblock {
    border: 1px solid var(--light-gray);
    padding: 1.4em;
}

.miniblock p, .miniblock h4, .miniblock a   {
    margin-bottom: 2em;
}

.miniblock h4 {
    display: inline;
}

.block-3 .miniblock a {
    float: right;
    color: var(--moderate-cyan);
}

.miniblock button {
    float: right;
    background-color: var(--moderate-cyan);
    color: var(--white);
    padding: 15px 25px;
    border-radius: 1.8em;
    border: none;
    width: 150px;
}

.backrow {
    display: inline;
}

.backs-left {
    font-size: 1.4em;
    color: var(--black);
    margin-right: 4px;
}

.out-of-stock {
    opacity: 0.5;
}

.out-of-stock button {
    background-color: var(--svg-gray);
}

/* modals */

dialog {
    border: none;
}

dialog:not([open]) { 
    display: none
 }

.close-modal {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2em;
    cursor: pointer;
}

dialog::backdrop {
    background: rgb(0, 0, 0, 0.4);
}

.modal-content {
    position: absolute; 
    top: 7.5%;
    left: 50%;
    transform: translateX(-50%); 
}

.modals-margin {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.modal {
    background-color: var(--white);
    border-radius: 0.8em;
    padding: 2em;
}

.modal p {
    color: var(--dark-gray);
}



/* selection modal  */

.selection-modal {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    padding: 3em;
}

.pledge-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: max-content;
    gap: 10px;
    border: 1px solid var(--light-gray);
    border-radius: 40px;
    cursor: pointer;
    height: 2.6em;
}

.pledge-input {
    -webkit-appearance: none;
    outline: none;
    border: none;
    margin: 0;
    font-size: 1em;
    font-weight: 700;
    color: var(--black);
    width: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 1rem;
}


.back-row {
    display: inline;
    float: right;
    margin: 0;
}

form {
    float: right;
    display: flex;
    align-items: center;
    gap: 1em;
}

.modal .miniblock a{
    color: var(--moderate-cyan);
    margin-left: 1em;
}

.modal .miniblock * {
    margin-bottom: 1em;
}

hr {
    margin-top: 1em;
    margin-bottom: 2em;
    border: 1px solid var(--light-gray);
}

.enter-pledge input {
    margin-right: 1em;
}

.enter-pledge span {
    color: var(--svg-gray);
}

.type-selection {
    width: 25px;
    height: 25px;
    margin: 0 1em 0 0;
    cursor: pointer;
    transform: translateY(5px);
}

/* success modal */

.success-modal {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.success-modal button {
    background-color: var(--moderate-cyan);
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 15px;
}


/* utilities */

.hidden {
    display: none;
}


/* responsive styles */

@media screen and (max-width: 1200px) {

    .header-items {
        padding: 0 2em;
    }
    .header-items nav {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .blocks-margin, .modals-margin, .success-modal {
        width: 90%;
    }
    .blocks p {
        font-size: 16px;
    } 
    
    .blocks h1 {
        font-size: 20px;
    }
    .action-buttons {
        justify-content: center;
        gap: 1em;
        margin: 1em 0;
    }

    .bookmark-btn {
        display: none;
    }

    .stats {
        grid-template-columns: 1fr;
    }

    header {
        background-size: cover;
    }

    .block-1 {
        margin-top: -14.5%;
    }
}


